@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default: small devices keep normal scrollbar or hidden scrollbar */
#style::-webkit-scrollbar {
  width: 0; /* Hides on mobile */
}

/* Large devices (>=1024px): apply your custom scrollbar */
@media (min-width: 1024px) {
  #style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  #style::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  #style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
    min-height: 10px;
  }

  #style::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }
}
